.delivery-merge-source,
.delivery-merge-target,
.delivery-merge-custom {
  background: white;
  padding: 1em;
  margin-top: 1em;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
}

.delivery-merge-options .form-radios {
  display: flex;
}

.delivery-merge-options .form-radios .form-item {
  margin: 0 1em;
}
