.entity-delivery-status {
  font-weight: bold;
  padding: 0.3em 1em 0.5em;
  background-color: #eaeaea;
  border-radius: 5px;
}

.entity-delivery-status-inline {
  margin: 0 0.2em;
  padding: 0.3em 0.5em 0.5em;
}

.entity-delivery-status-not-applicable {
}

.entity-delivery-status-outdated {
  background-color: #bbd7ee;
  color: #0b2840;
}

.entity-delivery-status-modified {
  background-color: #eede8d;
  color: #b46014;
}

.entity-delivery-status-conflict {
  color: #f3ccc9;
  background-color: #cd2c20;
}

.entity-delivery-status-identical {
  background-color: #cceeb1;
  color: #28402d;
}

.entity-delivery-status-new {
  background-color: #c4a7ee;
  color: #362a40;
}
